# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.Po
bin/

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Eclipse
.autotools
.cproject
.project
.settings/

Makefile.in                         
aclocal.m4                       
autom4te.cache/output.1             
autom4te.cache/requests             
autom4te.cache/traces.1             
config.h                            
config.h.in                         
config.h.in~                        
config.log                      
config.status                       
configure                           
scripts/Makefile                    
scripts/Makefile.in                 
src/Makefile                        
src/Makefile.in                     
src/adapt/Makefile                  
src/adapt/Makefile.in               
src/datstr/Makefile                 
src/datstr/Makefile.in              
src/geoflow/Makefile                
src/geoflow/Makefile.in             
src/gisapi/Makefile                 
src/gisapi/Makefile.in              
src/header/Makefile                 
src/header/Makefile.in              
src/main/Makefile                   
src/main/Makefile.in                
src/main/titan                      
src/preproc/Makefile                
src/preproc/Makefile.in             
src/preproc/titan_materialnames   
src/preproc/titan_preprocess     
src/repartition/Makefile            
src/repartition/Makefile.in         
src/stochastic/Makefile             
src/stochastic/Makefile.in          
src/stochastic/gentitanteststats    
src/stochastic/lhsbed               
src/stochastic/lhstitanstats        
src/stochastic/lhsvol               
src/tecplot/Makefile                
src/tecplot/Makefile.in             
src/useful/Makefile                 
src/useful/Makefile.in              
src/vectordatapreproc/Makefile      
src/vectordatapreproc/Makefile.in   
src/vectordatapreproc/VecDataPreproc

